<div Button [type]="'primary'" [disabled]="false" (click)="onclickLogout()">
  {{ 'basic.logout' | translate }}
</div>
<div class="contact-info">
  <h3>token mã bảo mật</h3>
  <label>{{tokenLocal}}</label>
  <h3>dg dẫn lấy dữ liệu</h3>
  <label>{{urlPart}}</label>
</div>

<!-- <div Button [type]="'primary'" [ngClass]="{'active': lang==='en_US'}" (click)="switchLang('en_US')"> english </div> -->
<div class="user-list">
  <div class="user-list-item" *ngFor="let item of list">
    <div>Name : {{item.name}}</div>
    <div>E-mail : {{item.email}}</div>
    <div>Phone : {{item.phone}}</div>
    <div><img src="{{item.img}}" alt="{{item.img}}" /></div>
  </div>
</div>