.title{
    font-size: 2rem;
    align-items: center;
}
.lamp-box{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin:auto auto;
    transition-duration:1s;
    background-color: aliceblue;
}

.lamp-on{
    opacity: 1;
}

.lamp-off{
    opacity: 0;
}