<!-- <app-menu></app-menu> -->
<div>
    <Navbar [icon]="icon" (onLeftClick)="onOpenChange($event)">Category</Navbar>
    <Drawer class="my-drawer" [ngStyle]="{ minHeight: this.height + 'px' }"
      [contentStyle]="{ color: '#A6A6A6', textAlign: 'center', paddingTop: '42px' }" [enableDragHandle]="true"
      [sidebar]="sidebar" [open]="this.state.open" (onOpenChange)="onOpenChange($event)">
     
      <div class="product-list">
        <div class="product-list-item" *ngFor="let item of _listProducts">
          <div>{{item.kind}}</div>
          <div>{{item.name}}</div>
          <div>{{item.summary}}</div>
          <!-- cách 3 chuyển trang bằng funciton có tham số -->
          <div class="my-link" (click)="showMore(item.id)">view</div>
        </div>
      </div>

    </Drawer>
  </div>

  <ng-template #icon>
    <Icon type="ellipsis"></Icon>
  </ng-template>
  
  <ng-template #sidebar>
    <List>
      <ListItem>
        <a [routerLink]="['/product-kind', 'en']">English</a>
      </ListItem>
      <ListItem>
        <a [routerLink]="['/product-kind', 'vi']">Vietnam</a>
      </ListItem>
    </List>
  </ng-template>